.net-connect-panel {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 15px 20px rgba(128, 128, 128, 0.2);
  margin-top: 4rem;
  padding: 0 0 1rem; }
  .net-connect-panel .settings-form {
    padding: 1rem; }
