$black: #000;
$background-grey: #f4f4f4;
$wifi-green: #73ba3d;
$glowing-green: #b3f900;
$green-go: #97ce23;
$green-gold-base: #dcffa5;
$green-gold-complementary: #2dff00;
$green-no-1: #3d6300;
$grey: #808080;
$lime: #0f0;
$orange: #ffa500;
$red: #bf0000;
$success: #e8ff00;
$white-smoke: #f7f7f7;
$white: #fff;