@import "./colors.scss";

.text {

  &--success {
    color: $success;
  }

  &--center {
    text-align: center;
  }

  &--cursive {
    font-style: italic;
  }

  &--green {
    color: $glowing-green;
    text-shadow: 0 0 15px transparentize($green-no-1, .5), 0 0 3px $green-no-1;
  }

  &--left{
    text-align: left;
  }
  
  &--right{
    text-align: right;
  }
}
