@import "./colors.scss";
@import "./buttons.scss";

.form {
  input,
  select,
  textarea {
    background: transparentize($grey, .93);
    border: 0;
    box-sizing: border-box;
    color: $black;
    font-family: inherit;
    font-size: .95rem;
    font-weight: 600;
    margin: 5px 0;
    padding: 5px 10px;
    text-align: left;
    width: 100%;

    textarea {
      max-width: 100%;
    }

    &.blank {
      color: transparentize($black, .8);
    }

    option {
      color: $black;

      &:disabled {
        color: transparentize($black, .55);
      }
    }

    &:focus {
      outline-color: $white;
    }

    &:disabled {
      background: transparentize($grey, .97);
      color: transparentize($black, .55);
      cursor: not-allowed;
    }

  }

  label {

    color: transparentize($black, .60);
    display: flex;
    flex-direction: column;
    font-size: .95rem;
    margin-top: 1rem;

    &.checkbox {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      [type="checkbox"] {
        box-shadow: none;
        cursor: pointer;
        display: inline-flex;
        flex-grow: 0;
        margin: 0;
        min-width: 4rem;
        padding-right: 1rem;
        transform: scale(2);
        width: auto;
      }

      em {
        flex-grow: 1;
        font-size: .95rem;
        font-style: normal;
        text-align: left;
        text-transform: none;
      }
    }
  }

  &__group {
    margin-bottom: 1rem;
  }

  &__required {
    color: $red;
    margin-left: .15rem;
  }
}
